.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img{
    width: 23%;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
}

/* Tablets */
@media (max-width: 900px) {

    .gallery {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .gallery img {
        width: 45%;
        height: 300px;
    }
}

/* Mobile */
@media (max-width: 600px) {

    .gallery {
        flex-direction: column;
        gap: 20px;
    }

    .gallery img {
        width: 100%;
        height: 250px;
    }

    .campus button {
        width: 100%;
        padding: 12px 0;
        font-size: 16px;
    }
}
